@import uk.gov.hmrc.agentepayeregistrationfrontend.controllers.routes.AgentEpayeRegistrationController
@import play.api.Configuration
@import uk.gov.hmrc.agentepayeregistrationfrontend.models.RegistrationRequest
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input

@(detailsForm : Form[RegistrationRequest])(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentepayeregistrationfrontend.views.html.main_template(title = Messages("details.contact.title"), bodyClasses = None) {

  @form(
    action = AgentEpayeRegistrationController.agentDetails,
    'class -> "form js-form") {

    <h1 class="form-title heading-large">@Messages("details.agent.label")</h1>

    <p>@Messages("details.agent.description")</p>

    <fieldset class="form-field-group">
      <div class="form-field">
      @input(
        detailsForm("agentName"),
        '_label -> Messages("details.agent.agentName.label"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "bold"
      )
      </div>
    </fieldset>

      @input(detailsForm("contactName"), '_type -> "hidden")
      @input(detailsForm("telephoneNumber"), '_type -> "hidden")
      @input(detailsForm("emailAddress"), '_type -> "hidden")
      @input(detailsForm("address.addressLine1"), '_type -> "hidden")
      @input(detailsForm("address.addressLine2"), '_type -> "hidden")
      @input(detailsForm("address.addressLine3"), '_type -> "hidden")
      @input(detailsForm("address.addressLine4"), '_type -> "hidden")
      @input(detailsForm("address.postcode"), '_type -> "hidden")

    <div class="form-field">
      <button class="button" type="submit" id="continue">@Messages("button.continue")</button>
    </div>
  }

}
