@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input
@import uk.gov.hmrc.agentepayeregistrationfrontend.controllers.routes.AgentEpayeRegistrationController
@import uk.gov.hmrc.agentepayeregistrationfrontend.models.RegistrationRequest
@import play.api.Configuration

@(detailsForm: Form[RegistrationRequest])(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentepayeregistrationfrontend.views.html.main_template(title = Messages("details.contact.title"), bodyClasses = None) {

@form(
action = AgentEpayeRegistrationController.contactDetails,
'class -> "form js-form") {

<h1 class="form-title heading-large">@Messages("details.contact.label")</h1>
<p>@Messages("details.contact.description")</p>

<fieldset class="form-field-group">

    <div class="form-field">
    @input(
        detailsForm("contactName"),
        '_label -> Messages("details.contact.contactName.label"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "bold"
    )
    </div>

    <div class="form-field">
    @input(
        detailsForm("emailAddress"),
        '_label -> Messages("details.contact.emailAddress.label"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "bold"
    )
    </div>

    <div class="form-field">
    @input(
        detailsForm("telephoneNumber"),
        '_label -> Messages("details.contact.telephoneNumber.label"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "bold"
    )
    </div>

    @input(detailsForm("agentName"), '_type -> "hidden")
    @input(detailsForm("address.addressLine1"), '_type -> "hidden")
    @input(detailsForm("address.addressLine2"), '_type -> "hidden")
    @input(detailsForm("address.addressLine3"), '_type -> "hidden")
    @input(detailsForm("address.addressLine4"), '_type -> "hidden")
    @input(detailsForm("address.postcode"), '_type -> "hidden")

</fieldset>

<div class="form-field">
    <button class="button" type="submit" id="continue">@Messages("button.continue")</button>
</div>
}
}
