@import uk.gov.hmrc.agentepayeregistrationfrontend.controllers.routes.AgentEpayeRegistrationController
@import play.api.Configuration
@import uk.gov.hmrc.agentepayeregistrationfrontend.models.RegistrationNameRequest
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input

@(detailsForm : Form[RegistrationNameRequest])(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentepayeregistrationfrontend.views.html.main_template(title = Messages("details.title"), bodyClasses = None) {

  <h1> @Messages("details.label")</h1>
  <p> @Messages("details.p1")</p>

  @form(
    action = AgentEpayeRegistrationController.details,
    'class -> "form js-form") {

    <fieldset class="form-field-group">
      <div class="form-field">
      @input(
        detailsForm("contactName"),
        '_label -> Messages("details.formTitle"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "bold"
      )
      </div>
    </fieldset>

    <div class="form-field">
      <button class="button" type="submit" id="subscribe">@Messages("button.continue")</button>
    </div>
  }

}
