@import uk.gov.hmrc.agentepayeregistrationfrontend.controllers.routes.AgentEpayeRegistrationController
@import play.api.Configuration
@import uk.gov.hmrc.agentepayeregistrationfrontend.models.RegistrationRequest
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input

@(detailsForm : Form[RegistrationRequest])(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentepayeregistrationfrontend.views.html.main_template(title = Messages("summary.title"), bodyClasses = Some("full-width")) {

  @form(action = AgentEpayeRegistrationController.summary, 'class -> "form js-form") {

        <input type="hidden" name="agentName" id="agentName" value="@detailsForm("agentName").value">
        <input type="hidden" name="contactName" id="contactName" value="@detailsForm("contactName").value">
        <input type="hidden" name="telephoneNumber" id="telephoneNumber" value="@detailsForm("telephoneNumber").value">
        <input type="hidden" name="emailAddress" id="emailAddress" value="@detailsForm("emailAddress").value">
        <input type="hidden" name="address.addressLine1" id="address.addressLine1" value="@detailsForm("address.addressLine1").value">
        <input type="hidden" name="address.addressLine2" id="address.addressLine2" value="@detailsForm("address.addressLine2").value">
        <input type="hidden" name="address.addressLine3" id="address.addressLine3" value="@detailsForm("address.addressLine3").value">
        <input type="hidden" name="address.addressLine4" id="address.addressLine4" value="@detailsForm("address.addressLine4").value">
        <input type="hidden" name="address.postcode" id="address.postcode" value="@detailsForm("address.postcode").value">

        <header class="page-header">
            <h1>@Messages("summary.label")</h1>
        </header>

        <div class="tabular-data__entry divider--bottom">
            <span class="tabular-data__heading tabular-data__heading--label">@Messages("summary.header.agentDetails")</span>
            <div class="tabular-data__data-1">
                @Messages("summary.details.agencyName") @detailsForm("agentName").value
            </div>
            <button class="button--link-style tabular-data__data-2--after-details" type="submit" name="amend" value="agentDetails" style="top: inherit">
              @Messages("summary.link.change")
              <span class="visuallyhidden">your details</span>
            </button>
        </div>

        <div class="tabular-data__entry divider--bottom">
            <span class="tabular-data__heading tabular-data__heading--label">@Messages("summary.header.contactDetails")</span>
            <div class="tabular-data__data-1">
                @Messages("summary.details.contactName") @detailsForm("contactName").value
                  <br>@Messages("summary.details.telephoneNumber") @detailsForm("telephoneNumber").value
                  <br>
                  @Messages("summary.details.emailAddress") @detailsForm("emailAddress").value
            </div>
            <button class="button--link-style tabular-data__data-2--after-details" type="submit" name="amend" value="contactDetails" style="top: inherit">
              @Messages("summary.link.change")
              <span class="visuallyhidden">contact details</span>
            </button>
        </div>

        <div class="tabular-data__entry divider--bottom">
            <span class="tabular-data__heading tabular-data__heading--label">@Messages("summary.header.addressDetails")</span>
            <div class="tabular-data__data-1">
                @detailsForm("address.addressLine1").value <br>
                @detailsForm("address.addressLine2").value <br>
                @detailsForm("address.addressLine3").value @if(detailsForm("address.addressLine3").value){<br>}
                @detailsForm("address.addressLine4").value @if(detailsForm("address.addressLine4").value){<br>}
                @detailsForm("address.postcode").value
            </div>
            <button class="button--link-style tabular-data__data-2--after-details" type="submit" name="amend" value="addressDetails" style="top: inherit">
              @Messages("summary.link.change")
              <span class="visuallyhidden">address details</span>
            </button>
        </div>

        <br>
        <h2>@Messages("summary.register.title")</h2>

        <p class="text">@Messages("summary.register.description")</p>

        <div class="form-group">
            <button class="button" type="submit" id="register" name="register">@Messages("button.register")</button>
        </div>

    }
}
